<footer class="apple-footer">
    <div class="footer-content">
        <div class="footer-sections">
            <div class="footer-column">
                <h6>Development</h6>
                <ul class="footer-links">
                    <li><a href="#" onclick="showProjects(); return false;">Projects</a></li>
                    <li><a href="#" onclick="showPortfolio(); return false;">Portfolio</a></li>
                    <li><a href="#">Open Source</a></li>
                    <li><a href="#">Tech Stack</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h6>Photography</h6>
                <ul class="footer-links">
                    <li><a href="#" onclick="showPhotography(); return false;">Gallery</a></li>
                    <li><a href="#" onclick="showPrints(); return false;">Shop Prints</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Licensing</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h6>Connect</h6>
                <ul class="footer-links">
                    <li><a href="#" onclick="showAbout(); return false;">About Me</a></li>
                    <li><a href="#" onclick="showContact(); return false;">Contact</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Hire Me</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h6>Social</h6>
                <ul class="footer-links">
                    <li><a href="https://github.com" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                    <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-legal">
            <p> 2026 Enoch. Built with passion. All rights reserved.</p>
        </div>
    </div>
</footer>
